* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------------------*\
     $COLORS
\*-----------------------------*/

$color_black: #000000;
$color_green: #2dd122;
$color_purple: #778cff;
$color_blue: #0d50a1;
$color_darkBlue: #151D3D;
$color_white: #ffffff;
$color_grey: #919190;
$color_darkBlack: #101009;
$backgroundGradientBlue: linear-gradient(135deg, rgba(21, 29, 61, 1) 0%, rgba(34, 44, 84, 1) 100%);
/*-----------------------------*\
     $FONTS
\*-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
$fontFamily:'Nunito', sans-serif;
$fontRegular: 400;
$fontSemiBold: 600;
$letterSpacing: 3px;
/*-----------------------------*\
     $GRID
\*-----------------------------*/

$porcentWidth: 100%;
$maxWidth: 320px;
$maxWidthcontent: 600px;
$porcentHeight: 100%;
/*-----------------------------*\
     $LUPA ANIMATION
\*-----------------------------*/

$borderCross: 1px outset $color_green;
$boxShadowCross: 0 0 3px $color_green;
$boxShadowLupa: inset -2px -2px 5px $color_blue;
/*-----------------------------*\
     $CONSTANT
\*-----------------------------*/

$grid: grid;
$gridColumns: repeat(10, 1fr);
$backgroundUrl: url('../img/collection.jpg') no-repeat center;
$spaceX4: 4px;
$spaceX8: 8px;
/*-----------------------------*\
     $LUPA ANIMATION
\*-----------------------------*/

$borderCross: 1px outset $color_green;
$boxShadowCross: 0 0 3px $color_green;
$boxShadowLupa: inset -2px -2px 5px $color_blue;
$animation: border 2s infinite;
/*-----------------------------*\
     $MIXIN
\*-----------------------------*/

@mixin responsive($breakpoints) {
  @media only screen and(max-width: $breakpoints) {
    @content;
  }
}
@mixin loop--grid {
  @for $i from 0 through 100 {
    .card-#{$i} {
      width: 30px;
      height: 40px;
      border: 1px dotted $color_grey;
      box-shadow: inset 0 0 10px;
      .card-content {
        .name {
          display: none;
        }
        .card-box {
          .card-perspective {
            .card-transform {
              .front {
                width: $porcentWidth;
                height: $porcentHeight;
                img {
                  width: inherit;
                  height: inherit;
                }
              }
              .back {
                width: $porcentWidth;
                height: $porcentHeight;
                display: none;
                img {
                  width: inherit;
                  height: inherit;
                }
              }
            }
          }
          .card-data {
            display: none;
          }
        }
      }
    }
  }
  .card-view {
    width: $porcentWidth;
    height: 600px;
    top: 0;
    left: 0;
    background: $color-black;
    position: absolute;
    border: none;
    box-shadow: none;
    overflow: hidden;
    .card-content {
      width: $porcentWidth;
      max-width: $maxWidthcontent;
      margin: 30px auto;
      color: $color_white;
      .name {
        display: block;
        background: $color_grey;
        padding: $spaceX8;
        p {
          background: $color_darkBlack;
          max-width: $maxWidth - 280px;
          text-align: center;
          padding: $spaceX4;
          font-weight: $fontRegular;
        }
        h3 {
          background: $color_darkBlack;
          padding: $spaceX4;
          margin-top: $spaceX8;
          font-weight: $fontSemiBold;
        }
      }
      .card-box {
        display: flex;
        .card-perspective {
          background: transparent;
          width: 400px;
          height: 300px;
          @include responsive($maxWidthcontent) {
            width: 300px;
            height: 250px;
          }
          perspective: 1000px;
          .card-transform {
            position: relative;
            width: $porcentWidth;
            height: $porcentHeight;
            text-align: center;
            transition: transform 1s;
            transform-style: preserve-3d;
          }
          .card-transform {
            transform: rotateY(-180deg);
          }
          .front, .back {
            position: absolute;
            backface-visibility: hidden;
            img {
              animation: cardBox 0.4s;
            }
          }
          .back {
            display: block !important;
            transform: rotateY(-180deg);
          }
        }
        .card-data {
          display: block;
          width: $porcentWidth;
          background: $color_grey;
          padding: $spaceX8;
          overflow: hidden;
          .type {
            display: flex;
            align-items: center;
            background: $backgroundGradientBlue;
            padding: $spaceX4;
            img {
              width: 20px;
              height: 20px;
            }
            h2 {
              margin-left: 10px;
              font-weight: $fontSemiBold;
            }
          }
          .guardian {
            background: $backgroundGradientBlue;
            padding: $spaceX4;
            margin: $spaceX8 0;
            h3 {
              margin-bottom: $spaceX4;
              font-weight: $fontSemiBold;
            }
            .elem1, .elem2 {
              display: flex;
              align-items: center;
              h4 {
                margin-right: 10px;
                margin-left: 10px;
                font-weight: $fontSemiBold;
              }
              p {
                font-weight: $fontRegular;
              }
            }
          }
          .txt {
            background: $backgroundGradientBlue;
            padding: $spaceX4;
            height: $porcentHeight;
            p {
              font-weight: $fontRegular;
            }
          }
        }
      }
    }
    @keyframes cardBox {
      from {
        transform: scale(0.4);
      }
      to {
        transform: scale(1);
      }
    }
  }
}
/*-----------------------------*\
     $EXTEND
\*-----------------------------*/

%grid__content {
  width: $porcentWidth;
  max-width: $maxWidth;
  display: $grid;
  grid-template-columns: $gridColumns;
  border: $spaceX8 inset $color_grey;
  background: $backgroundUrl;
  background-size: cover;
  @include loop--grid;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: $color_black;
  cursor: none;
  overflow-x: hidden;
  font-family: $fontFamily;
}
//LUPA ANIMADA
#lupa {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  div:nth-child(1) {
    border: $borderCross;
    width: $porcentWidth;
    position: fixed;
    left: 0;
    animation: $animation;
    box-shadow: $boxShadowCross;
  }
  div:nth-child(2) {
    border: $borderCross;
    height: $porcentHeight;
    position: fixed;
    top: 0;
    transform: rotate(90);
    animation: $animation;
    box-shadow: $boxShadowCross;
  }
  div:nth-child(3) {
    width: 19px;
    height: 19px;
    position: fixed;
    font-size: 25px;
    color: $color_purple;
    background: $color_white;
    box-shadow: $boxShadowLupa;
    border-radius: 50%;
  }
}
@keyframes border {
  25% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.card-container {
  h1 {
    color: $color_white;
    text-align: center;
    letter-spacing: $letterSpacing;
    font-weight: $fontSemiBold;
  }
  .card-grid {
    @extend %grid__content;
  }
  .card-comment {
    width: $porcentWidth;
    max-width: $maxWidth;
    background: $color_grey;
    color: $color_white;
    padding: $spaceX8;
    margin-top: 10px;
    p {
      background: $color_darkBlack;
      max-width: $maxWidth - 280px;
      text-align: center;
      padding: $spaceX4;
      font-weight: $fontRegular;
    }
    h3 {
      background: $color_darkBlack;
      padding: $spaceX4;
      margin-top: $spaceX8;
      font-weight: $fontSemiBold;
    }
  }
}