* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  cursor: none;
  font-family: "Nunito", sans-serif;
}

iframe {
  display: none;
}

#lupa {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#lupa div:nth-child(1) {
  border: 1px outset #2dd122;
  width: 100%;
  position: fixed;
  left: 0;
  -webkit-animation: border 2s infinite;
          animation: border 2s infinite;
  -webkit-box-shadow: 0 0 3px #2dd122;
          box-shadow: 0 0 3px #2dd122;
}

#lupa div:nth-child(2) {
  border: 1px outset #2dd122;
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-transform: rotate(90);
          transform: rotate(90);
  -webkit-animation: border 2s infinite;
          animation: border 2s infinite;
  -webkit-box-shadow: 0 0 3px #2dd122;
          box-shadow: 0 0 3px #2dd122;
}

#lupa div:nth-child(3) {
  width: 19px;
  height: 19px;
  position: fixed;
  font-size: 25px;
  color: #778cff;
  background: #fff;
  -webkit-box-shadow: inset -2px -2px 5px #0d50a1;
          box-shadow: inset -2px -2px 5px #0d50a1;
  border-radius: 50%;
}

@-webkit-keyframes border {
  25% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border {
  25% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.card-container {
  position: relative;
}

.card-container h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
}

.card-container .card-content {
  width: 100%;
  height: auto;
  max-width: 320px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  border: 10px solid transparent;
  -o-border-image: radial-gradient(circle, #948f8c 0%, #4e4c45 39%, #948f8c 100%) 1;
     border-image: radial-gradient(circle, #948f8c 0%, #4e4c45 39%, #948f8c 100%) 1;
  background: url("img/num.jpg") no-repeat center;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-container .card-content div.box {
  width: 30px;
  height: 40px;
  border: 1px solid #676665b3;
  -webkit-box-shadow: inset 0 0 10px;
          box-shadow: inset 0 0 10px;
}

.card-container .card-content div.box .card-data {
  width: 100%;
  height: 100%;
}

.card-container .card-content div.box .card-data img {
  display: block;
  width: inherit;
  height: inherit;
}

.card-container .card-content div.box .txt {
  width: 100%;
  height: 62px;
  max-width: 320px;
  position: absolute;
  bottom: -28%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #919190;
  color: #fff;
  padding: 0 10px;
  z-index: -1;
}

.card-container .card-content div.box .txt p {
  width: 100%;
  max-width: 70px;
  background: #101009;
  text-align: center;
  margin: 4px 0 4px 0;
}

.card-container .card-content div.box .txt h3 {
  max-width: 100%;
  height: 30px;
  background: #101009;
  padding: 2px 0 2px 25px;
}
/*# sourceMappingURL=main.css.map */